<div class="card mx-3 border-0 rounded-3 overflow-hidden" style="width: 13rem;">
  <div class="card-body p-0">
    <div class="tariffs-img">
      <img src="{{image}}" alt="">
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="height: 2,5rem;"><h5>{{title}}</h5></li>
    <li class="list-group-item" style="height: 4rem;">{{description}}</li>
    <li class="list-group-item" style="height: 6rem;">{{condition}}</li>
    <li class="list-group-item" style="height: 3rem;" >
      <h4 style="height: 2rem;">{{price}} &#8381 </h4>
    </li>
  </ul>
</div>